<div class="autManage">
    <ul class="nav nav-pills nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#/autManage">权限删除</a></li>
        <li role="presentation"><a href="#/autadd">权限添加</a></li>
   </ul>

    <h3 class="h_h3" style="margin-top: 50px;margin-bottom: 20px">权限删除界面</h3>
            <div class="form-group">
              
                <div class="table-responsive col-md-12 ">
                    <table id="table_id" class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr class="info">
                                <th>部门id</th>
                                <th>资源类型id</th>
                                <th>权限id</th>
                                <th>部门名称</th>
                                <th>资源类型名称</th>
                                <th>权限名</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-info" id="button">删除</button>
            </div>
        </div>
</div>
