<div class="history">
        <div class="row">
            <h3 class="h_h3">历史操作统计</h3>
        </div>
        <div class="row">
            <div class="col-md-10 ">
                <label class="col-md-3 col-md-offset-2 control-label">上传数：12</label>
                <label class="col-md-3  control-label">下载数：3</label>
                <label class="col-md-3  control-label">查看数：126</label>
            </div>
        </div>
        <hr style="height: 3px;background-color:#000000 FILTER: alpha(opacity=100,finishopacity=0,style=2) width=" 80% " color=#987cb9 SIZE=10">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="form-group" style="TEXT-ALIGN: center;">
                    <div class="table-responsive col-md-10 col-md-offset-1">
                        <table class="table table-striped table-hover table-bordered">
                            <tr class="info">
                                <td class="td">序号</td>
                                <td class="td">操作名称</td>
                                <td class="td">操作日期</td>
                                <td class="td">操作对象</td>
                            </tr>
                            <tr>
                                <td class="td">1</td>
                                <td class="td">上传</td>
                                <td class="td">2016-2-13</td>
                                <td class="td">盗墓玄机</td>
                            </tr>
                            <tr>
                                <td class="td">2</td>
                                <td class="td">下载</td>
                                <td class="td">2016-1-5</td>
                                <td class="td">财务部：1月加班工资明细</td>
                            </tr>
                            <tr>
                                <td class="td">3</td>
                                <td class="td">修改</td>
                                <td class="td">2016-1-3</td>
                                <td class="td">考研数学复习全书</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>
