<div class="myDoc">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="page-header">我的下载</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="form-group" style="TEXT-ALIGN: center;">
				<div class="table-responsive col-md-10 col-md-offset-1">
					<table class="table table-striped table-hover table-bordered">
						<tr class="info">
							<td class="td">序号</td>
							<td class="td">名称</td>
							<td class="td">更新日期</td>
							<td class="td">查看详情</td>
						</tr>
						<tr class="">
							<td class="td">1</td>
							<td class="td">软件设计师教程</td>
							<td class="td">2016-01-12</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/simpleDoc'">查看</button>
							</td>
						</tr>
						<tr class="">
							<td class="td">2</td>
							<td class="td">盗墓玄机</td>
							<td class="td">2015-12-03</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/simpleDoc'">查看</button>
							</td>
						</tr>
						<tr class="">
							<td class="td">3</td>
							<td class="td">考研英语阅读</td>
							<td class="td">2015-10-3</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/simpleDoc'">查看</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h3 class="page-header">我的上传</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="form-group" style="TEXT-ALIGN: center;">
				<div class="table-responsive col-md-10 col-md-offset-1">
					<table class="table table-striped table-hover table-bordered">
						<tr class="info">
							<td class="td">序号</td>
							<td class="td">名称</td>
							<td class="td">更新日期</td>
							<td class="td">描述</td>
							<td class="td">修改</td>
							<td class="td">删除</td>
						</tr>
						<tr class="">
							<td class="td">1</td>
							<td class="td">软件设计师教程</td>
							<td class="td">2016-01-12</td>
							<td class="td">软件设计师必读</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/'">修改</button>
							</td>
							<td class="td">
								<button class="btn btn-warning " type="button"
									onclick="javascript:window.location.href='#/'">删除</button>
							</td>
						</tr>
						<tr class="">
							<td class="td">2</td>
							<td class="td">盗墓玄机</td>
							<td class="td">2015-12-03</td>
							<td class="td">软件设计师必读</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/'">修改</button>
							</td>
							<td class="td">
								<button class="btn btn-warning " type="button"
									onclick="javascript:window.location.href='#/'">删除</button>
							</td>
						</tr>
						<tr class="">
							<td class="td">3</td>
							<td class="td">考研英语阅读</td>
							<td class="td">2015-10-3</td>
							<td class="td">软件设计师必读</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/'">修改</button>
							</td>
							<td class="td">
								<button class="btn btn-warning " type="button"
									onclick="javascript:window.location.href='#/'">删除</button>
							</td>
						</tr>
						<tr class="">
							<td class="td">3</td>
							<td class="td">考研英语阅读</td>
							<td class="td">2015-10-3</td>
							<td class="td">软件设计师必读</td>
							<td class="td">
								<button class="btn btn-info " type="button"
									onclick="javascript:window.location.href='#/'">修改</button>
							</td>
							<td class="td">
								<button class="btn btn-warning " type="button"
									onclick="javascript:window.location.href='#/'">删除</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>