<div class="personalInfo">
    <div class="row">
        <h3 class="p_h3">个人信息</h3>
                    <button class="btn btn-success " style="margin-left:500px;" type="button" onclick="javascript:window.location.href='#/'">修改</button>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <label class="col-md-4  control-label">账号：2013112023</label>
            <label class="col-md-4  control-label">用户名：你说啥玩意儿</label>
            <label class="col-md-4  control-label">姓名：张三</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <label class="col-md-4  control-label">职位：前端工程师</label>
            <label class="col-md-4  control-label">联系方式：14334233534</label>
            <label class="col-md-4  control-label">身份证号：211011199604238754</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <label class="col-md-2  control-label">个人介绍：</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <label class="col-md-12  control-label">作为成熟的大数据专家，我觉得只要会写报告，会吹逼，就能月入百万，走向人生巅峰！</label>
        </div>
    </div>
    <div class="row">
        <div class="pic" style="background-image:url(public/images/bigdata.jpg); width: 66%;height: 300px;margin-left:140px;margin-top:20px;">
        </div>
    </div>
</div>
